<div class="generic-container" ng-controller="AddTicketController as ctrl">
  <div ng-cloak>
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom md-selected="ctrl.tabSelectedIndex">

        <md-tab label="Compras">
          <md-content class="md-padding">
            <form-buys></form-buys>
          </md-content>
        </md-tab>

        <md-tab label="Descuentos de caja">
          <md-content class="md-padding">
            <form-box-discount></form-box-discount>
          </md-content>
        </md-tab>

        <md-tab label="Descuentos en resumen">
          <md-content class="md-padding">
            <form-credit-card-discount></form-credit-card-discount>
          </md-content>
        </md-tab>

      </md-tabs>
    </md-content>
  </div>

  <div class="panel panel-default">
    <div class="container">
      <form ng-submit="ctrl.submitTicket()" name="myFormList" class="form-inline" role="form">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Lista de Compras </span></div>
        <buys-grid></buys-grid>
        <div class="panel-heading"><span class="lead">Descuentos de caja </span></div>
        <discount-box-grid></discount-box-grid>
        <div class="panel-heading"><span class="lead">Descuentos en resumen </span></div>
        <discount-credit-card-grid></discount-credit-card-grid>
        <div class="row">
          <div class="form-actions floatLeft">
            <span>TOTAL PAGADO: ${{ctrl.ticket.total}}</span>
          </div>
        </div>
        <div class="row">
          <div class="form-actions floatRight">
            <input type="submit"  value="Guardar" class="btn btn-primary btn-sm" ng-disabled="myFormList.$invalid">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


