<div class="generic-container" ng-controller="AddBuyController as ctrl">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="lead">Formulario de carga de compras</span></div>
    <div class="formcontainer">
      <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
        <input type="hidden" ng-model="ctrl.buy.id" />

        <div class="row">
          <div class="form-group col-md-12">
            <datepicker></datepicker>
            <company-autocomplete></company-autocomplete>
            <product-autocomplete></product-autocomplete>
           </div>
         </div>

         <div class="row">
           <div class="form-group col-md-12">
             <product-code-ext></product-code-ext>
             <quantity></quantity>
             <price></price>
           </div>
         </div>

         <div class="row">
           <div class="form-actions floatRight">
             <input type="submit"  value="{{!ctrl.buy.id ? 'Agregar' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
             <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Limpiar campos</button>
           </div>
         </div>
       </form>
     </div>
   </div>
    <buys-grid></buys-grid>
</div>
