<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><span class="lead">Lista de Compras </span></div>
  <div class="tablecontainer">
    <table class="table table-hover">
      <thead>
      <tr>
        <!--<th>ID.</th>-->
        <th>Fecha de compra</th>
        <th>Empresa</th>
        <th>Pruducto</th>
        <th>Codigo externo</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
        <th width="20%"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="u in ctrl.buys">
        <!-- <td><span ng-bind="u.id"></span></td>-->
        <td><span ng-bind="u.buyDate"></span></td>
        <td><span ng-bind="u.companyID"></span></td>
        <td><span ng-bind="u.productID"></span></td>
        <td><span ng-bind="u.external_code"></span></td>
        <td><span ng-bind="u.quantity"></span></td>
        <td><span ng-bind="u.price"></span></td>
        <td><span ng-bind="u.total"></span></td>
        <td>
          <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Edit</button>
          <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
