<div class="col-md-6" ng-controller="CompanyCtrl as cpnyctrl" >
	<div layout="row" ng-cloak="" >
     <div flex="80">
        <md-content class="md-padding">
          <md-autocomplete  md-selected-item="ctrl.selectedCompany"  md-search-text="ctrl.searchTxtCompany" md-selected-item-change="ctrl.selectedCompanyChange(item)" md-items="item in ctrl.querySearch(ctrl.searchTxtCompany,ctrl.companies)" md-item-text="item.description" md-min-length="0" placeholder="Empresa" md-min-length="0">
                   <md-item-template>
                     <span md-highlight-text="ctrl.searchTxtCompany" md-highlight-flags="^i">{{item.description}}</span>
                   </md-item-template>
                 <md-not-found>
                   No se encontro "{{ctrl.searchTxtCompany}}" pulse icono para agregar.
                 </md-not-found>
                 </md-autocomplete>
             </md-content>
     </div>
    <md-button ng-click="showDialog($event)" class="md-primary md-raised">
      +
    </md-button>
  </div>
 </div>
