<div class="col-md-4" >
	<div layout="row" ng-cloak="" >
     <div flex="80">
        <md-content class="md-padding">
          <!--<md-input-container class="md-input-custom">-->
          <md-datepicker name="dateField" ng-model="ctrl.buy.buyDate" md-placeholder="Fecha de compra" required ></md-datepicker>
          <div class="validation-messages" ng-messages="myForm.dateField.$error">
            <div ng-message="valid">El dato ingresado no es una fecha!</div>
            <div ng-message="required">La fecha es requerida!</div>
          </div>
          <!--  </md-input-container>-->
        </md-content>
   </div>
  </div>
</div>

