<div class="col-md-11" ng-controller="BoxDiscountCtrl as bdctrl" layout="column" ng-cloak>
    <div layout="row" ng-cloak="" >
      <div flex="80">
        <md-content class="md-padding">
          <md-autocomplete  md-selected-item="ctrl.selectedBoxDiscount"
                            md-search-text="ctrl.searchTextBoxDiscount"
                            md-selected-item-change="ctrl.selectedItemChange(item,'boxDiscount')"
                            md-items="item in ctrl.querySearch(ctrl.searchTextBoxDiscount,ctrl.boxDiscounts)"
                            md-item-text="item.description"
                            md-min-length="0"
                            placeholder="Descuento de caja"
                            md-no-cache="true">
            <md-item-template>
              <span md-highlight-text="ctrl.searchTextBoxDiscount" md-highlight-flags="^i">{{item.description}}</span>
            </md-item-template>
          <md-not-found>
            No se encontro "{{ctrl.searchTextBoxDiscount}}" pulse icono para agregar.
          </md-not-found>
          </md-autocomplete>
        </md-content>
      </div>
      <md-button ng-click="showDialog($event)" class="md-primary md-raised">
          +
      </md-button>
   </div>
 </div>

