<div class="tablecontainer">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Monto</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="u in ctrl.ticket.boxDiscounts">
      <td><span ng-bind="ctrl.getObjectById(u.boxDiscountID,ctrl.boxDiscounts).description"></span></td>
      <td><span ng-bind="u.quantity"></span></td>
      <td><span ng-bind="u.amount"></span></td>
    </tr>
    <tr>
      <td><span>SUBTOTAL DESCUENTOS CAJA: ${{ctrl.getTotal()}}</span></td>
    </tr>
    </tbody>
  </table>
</div>


