<div class="panel panel-default">
  <div class="formcontainer">
    <form ng-submit="ctrl.submitBuy()" name="buyForm" class="form-horizontal">
      <input type="hidden" ng-model="ctrl.buy.id" />
      <div class="row">
        <div class="form-group col-md-12">

          <div class="col-md-4" >
            <div layout="row" ng-cloak="" >
              <div flex="80">
                <md-content class="md-padding">
                  <!--<md-input-container class="md-input-custom">-->
                  <md-datepicker name="dateField" ng-model="ctrl.buy.buyDate" md-placeholder="Fecha de compra" required ></md-datepicker>
                  <div class="validation-messages" ng-messages="buyForm.dateField.$error">
                    <div ng-message="valid">El dato ingresado no es una fecha!</div>
                    <div ng-message="required">La fecha es requerida!</div>
                  </div>
                  <!--  </md-input-container>-->
                </md-content>
              </div>
            </div>
          </div>

          <company-autocomplete></company-autocomplete>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12 ">
          <product-autocomplete></product-autocomplete>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">

          <div class="col-md-4" >
            <div layout="row" ng-cloak="" >
              <div flex="80">
                <md-content class="md-padding">
                  <!--<md-input-container class="md-input-custom">-->
                  <input flex ng-model="ctrl.buy.external_code" placeholder="Codigo externo">
                  <!--  </md-input-container>-->
                </md-content>
              </div>
            </div>
          </div>

          <div class="col-md-4" >
            <div layout="row" ng-cloak="" >
              <div flex="80">
                <md-content class="md-padding">
                  <!--<md-input-container class="md-input-custom">-->
                  <input flex ng-model="ctrl.buy.quantity" placeholder="Cantidad">
                  <!--  </md-input-container>-->
                </md-content>
              </div>
            </div>
          </div>

          <div class="col-md-4" >
            <div layout="row" ng-cloak="" >
              <div flex="80">
                <md-content class="md-padding">
                  <!--<md-input-container class="md-input-custom">-->
                  <input flex ng-model="ctrl.buy.price" placeholder="Precio">
                  <!--  </md-input-container>-->
                </md-content>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="form-actions floatRight">
          <input type="submit"  value="{{!ctrl.buy.id ? 'Agregar' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="buyForm.$invalid">
          <button type="button" ng-click="ctrl.reset('buyForm')" class="btn btn-warning btn-sm" ng-disabled="buyForm.$pristine">Limpiar campos</button>
        </div>
      </div>
    </form>
  </div>
</div>
