<div >
   <div class="form-group">
        <label for="lbldate" class="col-sm-3 form-control-label"> Fecha: </label>
        <div class="col-sm-12">
           <input type="text" class="form-control" id="lbldate" ng-value="ctrl.ticket.buyDate| date: 'dd-MM-yyyy'" readonly>
        </div>
   </div>

   <div class="form-group">
      <div class="col-xs-4">
       <label for="lblcompany" class="form-control-label">Empresa: </label>
       <input type="text" class="form-control "  id="lblcompany" ng-value="ctrl.getObjectById(ctrl.ticket.companyID,ctrl.masterCompanies).description" readonly style="width: 450px;">
     </div>
   </div>
</div>
 <br>
<div class="tablecontainer">
  <table class="table table-hover">
    <thead>
    <tr>
<!--            <th>ID.</th>
      <th>Fecha de compra</th>
      <th>Empresa</th>-->
      <th>Pruducto</th>
      <th>Codigo externo</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Subtotal</th>
      <th>Descuento caja?</th>
      <th width="15%"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="u in ctrl.ticket.buys">
      <td><span ng-bind="ctrl.getObjectById(u.productID,ctrl.masterProducts).description"></span></td>
      <td><span ng-bind="u.external_code"></span></td>
      <td><span ng-bind="u.quantity"></span></td>
      <td><span ng-bind="u.price"></span></td>
      <td><span ng-bind="u.amount"></span></td>
      <td><md-checkbox aria-label="Discount"></md-checkbox></td>
      <td>
        <button type="button" ng-click="ctrl.edit(u,'buy')" class="btn btn-success custom-width">Editar</button>
        <button type="button" ng-click="ctrl.remove($index,'buy')" class="btn btn-danger custom-width">Eliminar</button>
      </td>
    </tr>
    <tr>
      <td><span>SUBTOTAL COMPRAS: ${{ctrl.ticket.subtotal}}</span></td>
    </tr>
    </tbody>
  </table>
</div>


