<md-dialog aria-label="Empresa" class="fullscreen-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="closeDialog()" class="md-icon-button" aria-label="Close button">
        <md-icon class="fa fa-times fa-2x"></md-icon>
      </md-button>
      <h2 flex="flex">Guardar registro de un nuevo Producto</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div  flex layout="row" layout-align="center center">
      <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
        <md-content class="md-padding">
          <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
            <form name="contactForm" ng-submit="submit()">
              <md-input-container>
                <label>Descripcion:</label>
                <input ng-model="masterProduct.description" required>
              </md-input-container>
             <md-input-container>
                <label>Tipo:</label>
                <input  ng-model="masterProduct.type" required>
              </md-input-container>
              <md-input-container>
                <label>Subtipo:</label>
                <input  ng-model="masterProduct.subtype" required>
              </md-input-container>
              <md-input-container>
                <label>Marca:</label>
                <input  ng-model="masterProduct.brand" >
              </md-input-container>
              <md-input-container flex>
                <label>Envase:</label>
                <input  ng-model="masterProduct.packaging" >
              </md-input-container>
              <md-input-container flex>
                <label>Tamaño:</label>
                <input  ng-model="masterProduct.size" >
              </md-input-container>
              <md-input-container>
                <label>Codigo:</label>
                <input  ng-model="masterProduct.code" required>
              </md-input-container>
              <md-button type="submit" class="md-primary"  aria-label="Save Project">Guardar</md-button>
            </form>
          </div>
        </md-content>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
