<label class="col-md-1 control-lable" for="company">Producto</label>
 <div class="col-md-5" ng-controller="ProductCtrl as prdctrl" >
    <div layout="column" ng-cloak="" >
    <md-content class="md-padding">
      <md-autocomplete  md-selected-item="prdctrl.selectedItem"  md-search-text="prdctrl.searchText" md-selected-item-change="prdctrl.selectedItemChange(item)" md-items="item in prdctrl.querySearch(prdctrl.searchText)" md-item-text="item.display" md-min-length="0">
        <md-item-template>
          <span md-highlight-text="prdctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
			<md-not-found>
				No se encontro "{{prdctrl.searchText}}".
				<a ng-click="prdctrl.newState(prdctrl.searchText)">Agregar nuevo</a>
			</md-not-found>
      </md-autocomplete>
    </md-content>
   </div>                      
</div>
      
                      